.conteneur {
    -fx-alignment: center;
    -fx-background-color:#777777;
}

#vue-racine {
}

#vue-file-attente {
}

.gros-texte {
    -fx-font-weight: bold;
    -fx-font-size: 3em;
    -fx-text-fill:orange;
}

.petit-espace-vertical {
    -fx-min-height:100;
    -fx-max-height:100;
}

.espace-vertical {
    -fx-min-height:50;
}


#une-image{
    -fx-scale-x:0.3;
    -fx-scale-y:0.3;
}


/* http://fxexperience.com/2011/12/styling-fx-buttons-with-css/ */
.gros-bouton {
    -fx-padding:10px;
  -fx-background-color: #8b0000;
  -fx-text-fill:goldenrod;
  -fx-padding: 10;
  -fx-margin: 20;
  -fx-font-weight: bold;
  -fx-font-size: 18;
  -fx-border-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
  -fx-border-width: 2;
  -fx-border-color: goldenrod;
  -fx-background-insets: 0,1,2,3,0;
  -fx-background-radius: 10,9,8,7,6;
}

.gros-bouton:pressed {
    -fx-font-size: 1em;
}

.gros-bouton:hover {
    -fx-cursor: hand;
}

.moyen-texte{
    -fx-font-size:2em;
}

